.footer{
    min-height: 115px;
    background: url('../img/footer.png')center center/cover no-repeat;
    padding: 50px 0 50px 0;
    &__wrapper{
        display: flex;
        justify-content: space-between;
    }
    &__name{
        a{
            font-size: 24px;
            font-weight: 400;
            color:#fff;
            text-decoration: none;
            &:hover{
                color: #319ccf;
            }
        }

    }

}
