.team{
    background: url('../img/bg_3.png')center center/cover no-repeat;
    min-height: 918px;
    padding: 118px 0 128px 0;
    &__title{
        font-weight: 600;
        text-align: center;
        font-size: 40px;
        text-transform: uppercase;
        color: #3C4761;
        line-height: 56px;
    }

    &__subtitle{
        text-align: center;
        font-size: 18px;
        color: #3C4761;
        margin-top: 23px;
    }
    &__divider{
        background-color: #c8d9e5;
    }
    &__wrapper{
        margin-top: 76px;
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    &__papper{
        width: 203px;
    }
    &__name{
        color: #27283D;
        font-size: 24px;
        font-weight: 600;
        margin-top: 40px;
    }
    &__descr{
        color: #30BAE7;
        font-size: 16px;
        font-weight: 300;
        margin-top: 5px;
    }
    &__text{
        font-size: 16px;
        margin-top: 26px;
        color: #3C4761;
        line-height: 21px;
    }
    &__icons{
        display: flex;
        justify-content: space-evenly;
        margin-top: 29px;
    }
}